@charset "UTF-8";
.content {
    width: 100%;
    background-color: #fff;
    padding-bottom: 100px;
}
.shop_name{
    padding-top: 20px;
    text-align: center;
}
.shop_header_span{
    color: #61188B;
}
.shop_option_contain{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
    gap: 15px;
}
.shop_option{
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    text-align: center;

}
.shop_option_a{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 160px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
    border: 5px solid #995dbb;
    color:#995dbb
}
.shop_option_a:disabled{
    border: 5px solid #e6d8ec;
    font-weight: 900;
    color: #e6d8ec;
}
.shop_option_power{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 160px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    color: #61188B;
    background-color: #e6d8ec ;
    border: 5px solid #bf9bce;
}

